.container{
  display: flex;
  justify-content: space-between;
  background-color: rgb(241,241,241);
  min-height: 95vh;
}

.left{
  width: 32vh;
  height: 95vh;
  background-color: rgb(241,241,241);
  display: flex;
  padding: 50px 0px;
  padding-left: 40px;
  gap: 2px;
  flex-direction: column;
}

.adminsection{
  display: flex;
  font-size: 19px;
  gap: 12px;
  flex-wrap: wrap;
}

.adminsection p{
  height: 40px;
  display: flex;
  align-items: center;
}

.img_container{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  
}
.adminsection img{
  transform: scale(1.8);
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.links{
  display: flex;
  margin-top: 25px;
  flex-direction: column;
  gap: 23px;
}

.link1{
  padding: 6px 17px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  width: 140px;
  background-color: rgb(8,50,222);
  transition: 300ms;
  border: 1px solid rgb(8,50,222);
}

.link1:hover{
  color: black;
  background-color: rgb(241,241,241);
  border: 1px solid rgb(227, 226, 226);
}

.link1 i {
  font-size: 20px;
}

.link2 i {
  font-size: 20px;
}

.link2{
  padding: 8px 17px;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  width: 170px;
  transition: 300ms;
}

.link2:hover{
  color: white;
  border-radius: 10px;
  background-color: rgb(8,50,222);
}

#dropdown button{
  background-color: rgb(241,241,241)!important;
  color: black;
  border: none;
  max-width: 150px !important;
  display: flex !important;
  align-items: center !important;
  gap: 10px;
  padding-left: 17px;
}

#dropdown i{
  font-size: 20px;
}

#uldrop{
  margin-right: 30px;
}

#uldrop a:hover{
  transition: 300ms;
  color: white;
  background-color: rgb(27, 69, 235);
}

.Signout{
  position: relative;
  text-decoration: none;
  color: black;
  padding-left: 19px;
  bottom: -385px;
  transition: 300ms;
}

.Signout:hover{
  color: rgb(8,50,222);
}

.Signout i{
  font-size: 20px;
}

.right{
  width: 178vh;
  min-height: 95vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 60px 100px;
  gap: 40px;
}

.top{
  width: 100%;
  height: 20vh;
  display: flex;
  gap: 24px;
  padding: 0 15px;
}

.top a{
  text-decoration: none;
}

.top_card1{
  width: 280px;
  border-radius: 19px;
  height: 90%;
  background-color: rgb(47,128,237);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-direction: column;
  color: white;
  transition: 300ms;
}

.top_card1 i{
  font-size: 40px;
}
.top_card1:hover{
  background-color: rgb(178, 207, 245);
  cursor: pointer;
  color: black;
}

.top_card2{
  width: 280px;
  border-radius: 19px;
  height: 90%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-direction: column;
  transition: 300ms;
  color: black;
}

.top_card2 i{
  font-size: 40px;
  color: rgb(130,130,130);
}

.top_card2:hover{
  background-color: rgb(178, 207, 245);
  cursor: pointer;
}

.bottom_top{
  padding-left: 30px;
  color: black;
}

.bottom_middle{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
}

.bot_left{
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 50%;
  padding-right: 60px;
}

.section{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.section input{
  height: 37px;
  border-radius: 5px;
  border: none;
  background-color: rgb(235, 235, 235);
  padding: 2px 12px;
  
}

.section1{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.section2{
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
}

.section2 select{
  color: gray;
  background-color: rgb(235, 235, 235) !important;
}
.section select{
  color: gray;
  background-color: rgb(235, 235, 235) !important;
}

.bot_right{
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 50%;
  padding-right: 60px;
}

.bottom_bottom{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 14px;
  padding-right: 90px;
}

.bottom_bottom a{
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  text-decoration: none;
  height: 40px;
}

.btn1{
  border: 2px solid black;
  background-color: white;
  color: black;
}

.btn2{
  background-color: rgb(39,174,96);
  border: 2px solid rgb(39,174,96);
  color: white;
}

@media (max-width: 650px){
  .container{
    display: flex;
    flex-direction: column;
  }

  .left{
    display: flex;
    width: 500px;
    height: 60vh;
    align-items: center;
  }
  .Signout{
    bottom: -90px;
    padding-left: 3px;
  }
  
}


